// color variables
$primary_color:#7d7246;
$primary_hover:#9CAB84;
$success_color:#89986D;
$success_hover:#9CAB84;
$title_color:#41644A;

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.content{
    max-width: 800px;
    margin: 50px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 1.0);
    text-align: center;
    h1{
        color:$title_color;
        text-align: center;
    }
    h4{
        color:black;
    }
    table{
        width:100%;
        margin-top: 20px;
        border-collapse: collapse;
        th,td{
            padding:10px;
            border:1px solid #ccc;
            th{
                background-color: #f0f0f0 ;
                color: #333;
            }
        }

    }
    a{
        display:inline-block;
        padding:8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary_color;
        color:#fff;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover{
            background-color:$primary_hover;
        }
    }
    input{
            padding: 10px;
            margin: 5px;
            border: solid 1px;
            border-radius: 5px;
        }
    #btn_add{
        background-color: $success_color;
        color: #fff;
        cursor: pointer;
        &:hover{
            background-color: $success_hover;
        }
    }
}